[submodule "test/lib/googletest"]
	path = test/lib/googletest
	url = https://github.com/google/googletest.git
[submodule "media"]
	path = media
	url = https://github.com/arplaboratory/learning_to_fly_media.git
[submodule "external/rl_tools"]
	path = external/rl_tools
	url = https://github.com/rl-tools/rl-tools
