[submodule "external/backprop_tools"]
	path = external/backprop_tools
	url = https://github.com/BackpropTools/multirotor.git
[submodule "test/lib/googletest"]
	path = test/lib/googletest
	url = https://github.com/google/googletest.git
